<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        ФИО: <input type="text" class="fio">
        Почта: <input type="text" class="email">
        Пол: <input type="radio" id="contactChoice1" name="sex">
       <label for="contactChoice1">Мужской</label>
       <input type="radio" id="contactChoice2" name="sex">
       <label for="contactChoice2">Женский</label>
       <input type="submit" value="send">
    </form>
</body>
</html>